* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    
.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid #eee;
  margin: 15px auto;
}
    
.heading {
  width: 100%;
  background-color: #c56cf0;
  padding: 20px 0;
  color: White;
  font-family: 'Montserrat';
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.heading h3 {
  margin-bottom: 10px;
}
    
.info {
  width: 85%;
  margin: 0 auto;
}
    
.info ul {
  font-family: 'Source Sans Pro';
  margin: 0 auto;
  margin-top: 10px;
}
    
.info ul li {
  text-align: justify;
  list-style-type: circle;
  margin: 10px 0;
}
    
.info ul li span {
  font-weight: 600;
}
    
.info ul li:last-child {
  margin-bottom: 0;
}
    
.experts {
  font-family: 'Source Sans Pro';
  margin-bottom: 10px;
  letter-spacing: 1px;
}
    
button#backBtn {
  background: none;
  border: none;
  background-color: #ff6b81;
  padding: 10px 20px;
  margin: 15px 0;
  color: White;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
    
button#backBtn .cust {
  margin-right: 10px;
}
    
button#backBtn:focus {
  outline: none;
  border: none;
}
